* {
	box-sizing: border-box;
}

.navbar img {
	height: 75px;
}
.navbar {
	border-bottom: 2px solid rgb(79, 47, 24);
}
.dash-img, .dash-img2 {
	width: 85px;
	height: 85px;
	border-radius: 10px;
}
.line1 {
	padding: 4rem 10rem 0 10rem;
}
.line2 {
	padding: 0rem 15rem 0 15rem;
}
.dash-item {
	text-decoration: none !important;
}
.button-color {
	background-color: rgb(79, 47, 24);
	color: rgb(179, 159, 135);
}
.color {
	color: rgb(179, 159, 135) !important;
}
.svg-icon {
	width: 20px;
	height: 20px;
}

.bg-brown {
	background-color: rgb(79, 47, 24);
	fill: rgb(179, 159, 135);
}

.login-form {
	width: 35%;
}

.icon-database:before {
  content: "\e964";
}

.fill-black {
	fill: black !important;
}

.row-one {
	height: ;
}
/*thead, tbody, tr {
	display: block;
}
tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
.table-container {
	width: 100%;
	overflow-x: auto;
	max-height: 450px;
}

table {
	font-size: 12px;
	padding: 0;
}

.btn a {
	color: black;
	text-decoration: none !important;
	font-size: 13px;
}

td a {
	font-size: 12px;
}

.button-invoice {
	display: block;
}

.total-invoice {
	min-height: 32px;
	border: 1px solid #ced4da;
	font-size: 15px
	color: #495057 !important;
	padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #495057;
    background-color: #F5F5F5;
    background-color: #e9ecef;
}

label {
	margin: 7px 0 0 0;
}

.button-box {
	width: 16px;
}

/*
td, th {
	padding:;
	border: 1px solid black;
}

tr {
	border: 2px solid green;
	width: 100%;
}*/