{% extends 'layout.html' %}

{% block body %}
  <h1>Add Retail Client</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
  	<div class="form-group">
  		{{render_field(form.name, class_="form-control")}}
  		{{render_field(form.retail_type, class_="form-control")}}
      {{render_field(form.delivery_time, class_="form-control")}}
      {{render_field(form.payment_scheme, class_="form-control")}}
      {{render_field(form.statement_delivery_method, class_="form-control")}}
      {{render_field(form.contact_person, class_="form-control")}}
      {{render_field(form.phone_one, class_="form-control")}}
      {{render_field(form.email_one, class_="form-control")}}
      {{render_field(form.wechat_id, class_="form-control")}}
      {{render_field(form.salesperson, class_="form-control")}}
      {{render_field(form.other_info, class_="form-control")}}
  	</div>
  	<p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}