{% extends 'layout.html' %}

{% block body %}
  <h3>Edit Delivery Time</h3>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
  	<div class="form-group">
  		{{render_field(form.time, class_="form-control form-control-sm")}}
  	</div>
  	<button type="submit" class="btn float-right mb-2 pt-1 pb-1 pl-2 pr-2 float-right" value="Submit"><a>Submit</a></button>
  	<button class="btn float-right mr-1 mb-2 pt-1 pb-1 pl-2 pr-2"><a href="/delivery_times">Back</a></button>
  </form>
{% endblock %}