{% extends 'layout.html' %}

{% block body %}
  <h3>Invoices <small>Retail Clients</small></h3>
  <button class="btn float-right mt-1 mb-2 pt-1 pb-1 pl-2 pr-2"><a href="/invoices">Back</a></button>
  <button class="btn float-right mt-1 mb-2 mr-2 pt-1 pb-1 pl-2 pr-2"><a href="/add_invoice_retail_clients">Add Invoice</a></button>
  <button class="btn float-right mt-1 mb-2 mr-2 pt-1 pb-1 pl-2 pr-2"><a href="/generate_invoices_day_retail_clients">Generate Invoices of the Day</a></button>
  <button class="btn float-right mt-1 mb-2 mr-2 pt-1 pb-1 pl-2 pr-2"><a href="/convert_invoices_pdf_retail_clients">Convert Invoices to PDF</a></button>
  <div class="table-container">
  <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class="align-middle word-wrap">Invoice #</th>
      <th class="align-middle word-wrap text-center">Client name</th>
      <th class="align-middle word-wrap text-center">Delivery day</th>
      <th class="align-middle word-wrap text-center">Delivery time</th>
      <th class="align-middle word-wrap text-center">Total amount</th>
      <th class="align-middle word-wrap text-center">Payment scheme	</th>
      <th class="align-middle word-wrap text-center">Payment status</th>
      <th class="align-middle word-wrap text-center">Statement issued</th>
      <th class="align-middle word-wrap text-center">Other info</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices|sort(attribute="id") %}
    <tr>
      <td class="align-middle word-wrap">{{invoice.id}}</td>
      <td class="align-middle word-wrap text-center">{{invoice.name}}</td>
      <td class="align-middle word-wrap text-center">{{invoice.delivery_day}}</td>
      <td class="align-middle word-wrap text-center">{{invoice.delivery_time}}</td>
      <td class="align-middle word-wrap text-center">{{invoice.total_amount}}</td>
      <td class="align-middle word-wrap text-center">{{invoice.payment_scheme}}</td>
      <td class="align-middle word-wrap text-center">{{invoice.payment_status}}</td>
      {% if invoice.payment_scheme=='CoD' or invoice.payment_scheme=='TBC' %}
        <td class="align-middle word-wrap text-center"></td>
      {% else %}
        <td class="align-middle word-wrap text-center">{{invoice.statement_issued}}</td>
      {% endif %}
      <td class="align-middle word-wrap text-center">{{invoice.other_info}}</td>
      <td class="align-middle word-wrap text-center"><a href="edit_invoice_retail_client/{{invoice.id}}">Invoice</a></td>
      <td class="align-middle word-wrap text-center"><a href="edit_payment_details_retail_client/{{invoice.id}}">Payment</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  
{% endblock %}