{% extends 'layout.html' %}

{% block body %}
    <h3>Edit Product</h3>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.name, class_="form-control form-control-sm") }}
            {{ render_field(form.product_type, class_="form-control form-control-sm") }}
            {{ render_field(form.nr_pieces_per_bag, class_="form-control form-control-sm") }}
            <div id="aggregrate_to_field">
                {{ render_field(form.aggregate_to, class_="form-control form-control-sm") }}
            </div>
        </div>
        <button type="submit" class="btn float-right mb-2 pt-1 pb-1 pl-2 pr-2 float-right" value="Submit"><a>Submit</a>
        </button>
        <button class="btn float-right mr-1 mb-2 pt-1 pb-1 pl-2 pr-2"><a href="/products">Back</a></button>
    </form>
{% endblock %}