{% extends 'layout.html' %}

{% block body %}
  <h3 class="float-left pt-1">Private Clients</h3>
  <button class="btn float-right mt-1 mb-2 pt-1 pb-1 pl-2 pr-2"><a href="/clients">Back</a></button>
  <button class="btn float-right mt-1 mb-2 mr-2 pt-1 pb-1 pl-2 pr-2"><a href="/add_private_client">Add Private Client</a></button>
  <!--<table class="table table-responsive table-sm w-100nd-block d-md-table table-fixed">-->
  <div class="table-container">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col" class="align-middle">Client no.</th>
        <th scope="col" class="align-middle">Name</th>
        <th scope="col" class="align-middle text-center">Payment scheme</th>
        <th scope="col" class="align-middle text-center">Phone</th>
        <th scope="col" class="align-middle text-center">Email</th>
        <th scope="col" class="align-middle text-center">Address</th>
        <th scope="col" class="align-middle text-center">Door code</th>
        <th scope="col" class="align-middle text-center">Zone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients|sort(attribute="id") %}
      <tr class="row-one">
        <td class="word-wrap align-middle">{{client.id}}</td>
        <td class="word-wrap align-middle">{{client.name}}</td>
        <td class="word-wrap align-middle text-center">{{client.payment_scheme}}</td>
        <td class="word-wrap align-middle text-center">{{client.phone_one}}</td>
        <td class="word-wrap align-middle text-center">{{client.email_one}}</td>
        <td class="word-wrap align-middle text-center">{{client.address}}</td>
        <td class="word-wrap align-middle text-center">{{client.door_code}}</td>
        <td class="word-wrap align-middle text-center">{{client.zone}}</td>
        <td class="word-wrap align-middle text-center"><a href="edit_private_client/{{client.id}}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  
{% endblock %}