{% extends 'layout.html' %}

{% block body %}
  <h3 class="float-left pt-1">Products</h3>
  <button class="btn float-right mt-1 mb-2 pt-1 pb-1 pl-2 pr-2"><a href="/dashboard">Back</a></button>
  <button class="btn float-right mt-1 mb-2 mr-2 pt-1 pb-1 pl-2 pr-2"><a href="/add_product">Add Product</a></button>
  <div class="table-container">
  <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class="align-middle word-wrap">Name</th>
      <th class="align-middle word-wrap text-center">Type</th>
      <th class="align-middle word-wrap text-center">Number of pieces per bag</th>
      <th class="align-middle word-wrap text-center">Aggregate to</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products|sort(attribute="name") %}
    <tr>
      <td class="align-middle word-wrap">{{product.name}}</td>
      <td class="align-middle word-wrap text-center">{{product.product_type}}</td>
      <td class="align-middle word-wrap text-center">{{product.nr_pieces_per_bag}}</td>
      <td class="align-middle word-wrap text-center">{{product.aggregate_to}}</td>
      <td><a href="edit_product/{{product.id}}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
  <!-- <table class="table table-sm mt-3 table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" class="td1 align-middle">Name</th>
        <th scope="col" class="td1 align-middle text-center">Type</th>
        <th scope="col" class="td1 align-middle text-center">Number of pieces per bag</th>
        <th scope="col" class="td1 align-middle text-center">Aggregate to</th>
        <th class="td1"></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products|sort(attribute="name") %}
      <tr>
        <td class="td1 word-wrap align-middle">{{product.name}}</td>
        <td class="td1 word-wrap align-middle text-center">{{product.product_type}}</td>
        <td class="td1 word-wrap align-middle text-center">{{product.nr_pieces_per_bag}}</td>
        <td class="td1 word-wrap align-middle text-center">{{product.aggregate_to}}</td>
        <td class="td1 word-wrap align-middle text-center"><a href="edit_product/{{product.id}}" class="btn btn-default pull-right">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->
