{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}
{% block body %}
  <h3>Register</h3>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
  	<div class="form-group">
  		{{render_field(form.username, class_="form-control", autocomplete="username", required=True)}}
  	</div>
  	<div class="form-group">
  		{{render_field(form.password, class_="form-control", autocomplete="new-password", required=True)}}
  	</div>
  	<div class="form-group">
  		{{render_field(form.confirm, class_="form-control", autocomplete="new-password", required=True)}}
  	</div>
  	<p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}